name: Deploy Quarto site via GitHub Pages

on:
  push:
    branches:
      - main
    paths:
      - .github/workflows/pages.yml
      - _quarto.yml
      - '*.qmd'
      - '*.css'
      - renv.lock
  workflow_dispatch:

jobs:
  build-deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - name: Check out repository
        uses: actions/checkout@v6
 
      - name: Set up Quarto
        uses: quarto-dev/quarto-actions/setup@v2

      - name: Set up R
        uses: r-lib/actions/setup-r@v2

      - name: Set up renv
        uses: r-lib/actions/setup-renv@v2

      - name: Render Quarto site
        uses: quarto-dev/quarto-actions/render@v2

      - name: Create .nojekyll file
        run: touch _site/.nojekyll

      - name: Deploy to GitHub Pages
        uses: JamesIves/github-pages-deploy-action@v4
        with:
          clean: true
          branch: gh-pages
          folder: _site
